.header {
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 16px;
    background: #1C1C21;
  }

  .header__menu {
    width: 1240px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .nav__container {
    display: flex;
    width: 33.333%;
    flex-grow: 1;
  }

  .nav__item {
    display: flex;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
  }

  .nav__logo {
    cursor: pointer;
    width: 45.333%;
    flex-grow: 1;
    
  }

  .nav__profile {
    cursor: pointer;
    display: flex;
    width: 15.333%;
  }


