.details {
  display: flex;
  flex-direction: column;
}

.nutritionists {
  margin-top: 32px;
  margin-bottom: 60px;
  width: 540px;
  display: flex;
  justify-content: space-between;
}

.nutritionist {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text__center {
  text-align: center;
}