.BurgerConstructor {
    max-width: 600px;
    margin: 100px 0 40px 40px;
  }

  .ingredients{
    display: flex; 
    flex-direction: column; 
    gap: 16px;
  }
  
  .ingredients__container {
    max-height: 646px;
    display: flex; 
    flex-direction: column; 
    gap: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px 0 0;
  }

  .ingredients__container::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
  }

  .ingredients__container::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #8585AD;
  }

  .place__order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 40px 0 0 0;
  }
  
  .cost {
    display: flex;
    margin: 0 40px 0 0;
  }

  .icon {
    width: 36px;
    height: 36px;
  }

  .container__item {
    display: flex;
    align-items: center;
  }